// VARIABLES
$contact-text-color: #000;
$contact-arrow-color: #000;
$contact-tree-stem-color: #000;
$contact-primary-color: #4d7cfe;

label {
  font-weight: normal;
}
.contact-checkbox {
  position: relative;
  cursor: pointer;
  padding-left: 23px;
  user-select: none;
  input {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    height: 0;
    width: 0;
  }
  &-mark {
    position: absolute;
    top: 2px;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.2);
    &::after {
      content: "";
      position: absolute;
      display: none;
      left: 5px;
      top: 1px;
      width: 6px;
      height: 11px;
      border: solid white;
      border-width: 0 2px 2px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
  input:checked ~ &-mark {
    background-color: $contact-primary-color;
    &::after {
      display: block;
    }
  }
}

.contact {
  display: flex;
  .contact-list {
    flex: 3;
    .item-container {
      height: 400px;
      overflow: auto;
    }
  }
  .contact-members {
    flex: 2;
    border-left: 1px solid rgba(0,0,0,0.2);
    margin-top: 50px;
    padding-left: 20px;
    position: relative;
    .item-container {
      height: 370px;
      overflow: auto;
    }
  }
  .members-search {
    position: absolute;
    left: 20px;
    top: -40px;
  }
  .members-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .clear {
      color: $contact-primary-color;
      cursor: pointer;
    }
  }
}

.contact * {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.contact-header {
  .root-name {
    font-size: 18px;
    cursor: pointer;
  }
  .curr-name {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    line-height: 22px;
    cursor: pointer;
    .back {
      color: $contact-primary-color;
    }
  }
}
.contact {
  font-size: 100%;

  > div {
    > .contact-no-children-transition {
      transition-property: all;
    }

    > .contact-no-children-transition-enter {
      opacity: 0;
      height: 0;
      overflow: hidden;

      &.contact-no-children-transition-enter-active {
        opacity: 1;
        height: 0;
      }
    }

    > .contact-no-children {
      overflow: hidden;
      > .contact-no-children-content {
        margin: 2px 0;
      }
    }

    > .contact-node {
      overflow: hidden;
      > .contact-children-container {
        margin-left: 8px;
        padding-left: 20px;
        // border-left: 1px solid $  contact-tree-stem-color;

        > .contact-loading {
          padding: 0 3px;
          margin: 2px 0;
        }
      }

      > .contact-node-content {
        margin: 5px 0;
        height: 22px;
        line-height: 22px;
        position: relative;

        > label {
          vertical-align: top;
          text-overflow: ellipsis;
          width: calc(100% - 55px);
          overflow: hidden;
          white-space: nowrap;
          display: inline-block;
          margin: 0;
          font-weight: normal;
          font-size: 100%;
          user-select: none;
        }

        > .contact-triangle-btn {
          float: left;
          margin-right: 5px;
          cursor: pointer;
        }

        > .contact-triangle-btn-none {
          cursor: none;
        }

        > .contact-triangle-btn-right {
          width: 8px;
          height: 10px;
          margin-top: 2px;
          margin-left: 2px;
          border-top: 5px solid transparent;
          border-left: 6px solid $contact-arrow-color;
          border-bottom: 5px solid transparent;
        }

        > .contact-triangle-btn-down {
          width: 10px;
          height: 8px;
          margin-top: 5px;
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          border-top: 6px solid $contact-arrow-color;
        }

        > .delete-btn {
          float: right;
          cursor: pointer;
        }
      }
    }

    > .contact-node-transition {
      transition-property: all;
    }

    > .contact-node-transition-enter {
      opacity: 0;

      &.contact-node-transition-enter-active {
        opacity: 1;
      }
    }

    > .contact-node-transition-exit {
      display: block;

      &.contact-node-transition-exit-active {
        display: none;
      }
    }
  }
}
